<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maknaeontop.communication.mapper.BeaconMapper">
    <select id="selectCoordinate" resultType="hashMap">
        SELECT x, y, floor FROM beacon WHERE (uuid = #{uuid} and major = #{major} and minor = #{minor});
    </select>

    <insert id="addBeacon">
        INSERT INTO beacon VALUES (#{id}, #{uuid}, #{major}, #{minor}, #{x}, #{y}, #{floor})
            ON DUPLICATE KEY UPDATE uuid = #{uuid}, major = #{major}, minor = #{minor}, x = #{x}, y = #{y}, floor = #{floor};
    </insert>

    <select id="selectByUuidAndFloor" resultType="hashMap">
        SELECT id, major, minor, x, y FROM beacon WHERE (uuid = #{uuid} and floor = #{floor});
    </select>
    
    <delete id="deleteByUuidAndFloor">
        DELETE FROM beacon WHERE(uuid = #{uuid} and floor = #{floor});
    </delete>
</mapper>
