<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maknaeontop.communication.mapper.BuildingMapper">
    <select id="selectAllBuildings" resultType="hashMap">
        SELECT * from building;
    </select>

    <select id="selectnamebyUuid" resultType="String">
        SELECT name from building WHERE uuid = #{uuid};
    </select>

    <select id="selectManagerByUuid" resultType="Sting[]">
        SELECT manager from building WHERE uuid = #{uuid};
    </select>

    <select id="selectByManager" resultType="hashMap">
        SELECT * from building WHERE manager = #{manager};
    </select>

    <insert id="insertBuilding">
        INSERT INTO building VALUES (#{uuid}, #{name}, #{manager});
    </insert>
</mapper>
